@import url(https://fonts.googleapis.com/css?family=Staatliches:regular);
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One:regular);

body{
font-family: Pathway Gothic One;
margin: 0px
}

.logo{
    text-align: center;
    padding: 0px;
    background-color: black;
}