@import url(https://fonts.googleapis.com/css?family=Staatliches:regular);
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One:regular);
@import url(https://fonts.googleapis.com/css?family=Assistant:200,300,regular,600,700,800);
body{
font-family: Assistant;
margin: 0px
}



@media screen and (min-width: 601px) {
    .logo {
        background-position: center;
        background-repeat: no-repeat;
        padding: 350px;
        background-image: url('https://raw.githubusercontent.com/DeclanBernardin/Belnap-Photography/master/car%20pics/belnapphotographylogofinalblackpng.png');
        background-size: 700px 700px;
    }
  }

  @media screen and (max-width: 600px) {
    .logo {
        background-position: center;
        background-repeat: no-repeat;
        padding: 150px;
        background-image: url('https://raw.githubusercontent.com/DeclanBernardin/Belnap-Photography/master/car%20pics/belnapphotographylogofinalblackpng.png');
        size: 40px;
        background-size: 300px 300px;
    }
    GridList{
        cols: 1;
    }
  }